<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Note App</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
<form action="/NuevaNota">
  <label for="title">Titulo:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="theme">Tema:</label><br>
  <input type="text" id="theme" name="theme"><br>
  <label for="body">Cuerpo:</label><br>
  <textarea id="cuerpo" name="cuerpo"rows="4" cols="50"></textarea><br>
<input type="submit" value="CREAR">
</form>
  </body>
</html>